{% extends 'base.html.twig' %}

{% block title %}Mon Panier!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">  
    <h1>Mon panier</h1>
    


{# Boucle sur les produits du panier #}
{% for item in cart.cartItems %}

<div>
     <img src="/images/{{ item.product.image }}" width="150">

    <p>
        {# Nom du produit #}
        {{ item.product.name }} ({{ item.size }}) -

        {# Prix du produit #}
        {{ item.product.price }} €

        {# Quantité #}
        x {{ item.quantity }}
    </p>

        <a href="{{ path('cart_increase', {'id': item.product.id,'size': item.size}) }}">➕</a>
        <a href="{{ path('cart_decrease', {'id': item.product.id,'size': item.size}) }}">➖</a>
        <a href="{{ path('cart_remove', {'id': item.product.id,'size': item.size}) }}">❌ Supprimer</a>
</div>
     
{% else %}
    {# Si panier vide #}
    <p>Panier vide</p>
{% endfor %}

{# Affichage du total #}
<p>Total : {{ total }} €</p>
<a href="/products">Continuer mes achats</a>
<a href="{{ path('checkout') }}" class="btn btn-success">
    finaliser le paiement
</a>
</div>
{% endblock %}
