{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Stubborn{% endblock %}

{% block stylesheets %}
    {{ parent() }}  {# Charge app.css #}
    <link rel="stylesheet" href="{{ asset('assets/styles/home.css') }}">
{% endblock %}


{% block body %}

<h1>Bienvenue chez Stubborn</h1>

<h2>Produits mis en avant</h2>
<div class="card-container">
{% for product in products %}
   <div class="card">
      <div class="card-items">
            <img src="/images/{{ product.image }}" alt="{{ product.name }} width="150">
            <h3> Nom : {{ product.name }}</h3>
            <p> Prix : {{ product.price }} €</p>
            
            {# Bouton “Voir” seulement si l’utilisateur est connecté #}
            {% if app.user %}
            <a class="btn-see" href="{{ path ('product_show', {id: product.id}) }}">Voir</a>
            {% else %}
                <span style="color:gray;">Connectez-vous pour voir les détails</span>
            {% endif %}
       </div>
    
    </div>
{% else %}
      <p>Aucun produit mis en avant</p>

   {% endfor %}
</div>
{% endblock %}
