{% extends 'base.html.twig' %}

{% block title %}Modifier Sweat-shirt{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/edit.css') }}">
{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Modifier : {{ sweatshirt.name }}</h1>

    {{ form_start(form, { attr: { enctype: 'multipart/form-data' } }) }}

        <div class="form-fields">
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.featured) }}
            {{ form_row(form.stockXS) }}
            {{ form_row(form.stockS) }}
            {{ form_row(form.stockM) }}
            {{ form_row(form.stockL) }}
            {{ form_row(form.stockXL) }}
            {{ form_row(form.imageFile) }}
        </div>

        {{ form_rest(form) }}

        <button class="btn btn-success">Mettre à jour</button>

    {{ form_end(form) }}

    <a href="{{ path('app_admin_sweatshirt') }}">Retour à la liste</a>
</div>
{% endblock %}
