{% extends 'base.html.twig' %}

{% block title %}Back-office Sweatshirts{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/admin.css') }}">
{% endblock %}

{% block body %}
<div class="backoffice-container">
    <h1>Gestion des Sweat-shirts</h1>

    <table class="table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th style="width: 70%;">Contenu</th>
            </tr>
        </thead>

        <tbody>

            <!-- Première ligne exemple -->
            <tr class="table-container add-bg">
             
                <td>Id</td>

                <td>Image</td>

                

                <td>
                    <div class="content-container">

                        <div class="content">

                            <div class="fields">

                                <span class="label-value">
                                    <span class="label">Nom</span>
                                    <span class="value">-</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">Prix</span>
                                    <span class="value">-</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">XS</span>
                                    <span class="value">-</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">S</span>
                                    <span class="value">-</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">M</span>
                                    <span class="value">-</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">L</span>
                                    <span class="value">-</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">XL</span>
                                    <span class="value">-</span>
                                </span>

                            </div>

                            <div class="actions">
                                <a href="{{ path('admin_sweat_new') }}" class="btn add-color">
                                    Ajouter
                                </a>
                            </div>

                        </div>

                    </div>
                </td>
            </tr>

            <!-- Lignes du tableau -->
            {% for s in sweatshirts %}
            <tr class="table-container">

                <td>{{ s.id }}</td>

                <td>
                    {% if s.image %}
                        <img src="{{ asset('images/' ~ s.image) }}" alt="{{ s.name }}" style="height:80px;">
                    {% else %}-{% endif %}
                </td>

                <td>
                    <div class="content-container">

                        <div class="content">

                            <div class="fields">

                                <span class="label-value">
                                    <span class="label">Nom</span>
                                    <span class="value">{{ s.name }}</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">Prix</span>
                                    <span class="value">{{ s.price }} €</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">XS</span>
                                    <span class="value">{{ s.stockXS }}</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">S</span>
                                    <span class="value">{{ s.stockS }}</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">M</span>
                                    <span class="value">{{ s.stockM }}</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">L</span>
                                    <span class="value">{{ s.stockL }}</span>
                                </span>

                                <span class="label-value">
                                    <span class="label">XL</span>
                                    <span class="value">{{ s.stockXL }}</span>
                                </span>

                            </div>

                            <div class="actions">
                                <a href="{{ path('admin_sweat_edit', {'id': s.id}) }}" class="btn ">
                                    Modifier
                                </a>

                                <a href="{{ path('admin_sweat_delete', {'id': s.id}) }}" class="btn "
                                    onclick="return confirm('Êtes-vous sûr ?');">
                                    Supprimer
                                </a>
                            </div>

                        </div>

                    </div>
                </td>

            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>
{% endblock %}