{% extends 'base.html.twig' %}

{% block title %}Ajouter un Sweat-shirt{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/add.css') }}">
{% endblock %}

{% block body %}
<div class="form-container">
<h1>Ajouter un Sweat-shirt</h1>

{{ form_start(form, { 'attr': { 'enctype': 'multipart/form-data' } }) }}
{{ form_widget(form) }}
<button class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('app_admin_sweatshirt') }}">Retour à la liste</a>
</div>
{% endblock %}