{% extends 'base.html.twig' %}

{% block title %} Boutique{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    
</div>
<h1>Liste des produits</h1>

<h2>Filtrer par prix :</h2>

<form method="get" action="{{ path('products') }}">
    <select name="range" onchange="this.form.submit()">
        <option value="">-- Tous les produits --</option>

        <option value="1" {% if currentRange == '1' %}selected{% endif %}>
            10€ - 29€
        </option>

        <option value="2" {% if currentRange == '2' %}selected{% endif %}>
            29€ - 35€
        </option>

        <option value="3" {% if currentRange == '3' %}selected{% endif %}>
            35€ - 50€
        </option>
    </select>
</form>


{# Boucle sur les produits passés depuis le contrôleur #}
{% for product in products %}
   <p>
        <img src="/images/{{ product.image }}" width="150">
        {{ product.name }} - {{ product.price }} €
        <a href="{{ path('product_show', {'id': product.id}) }}">Voir</a>
    </p>
{% else %}
    <p> Aucun produit trouvé </p>
{% endfor %}

{% endblock %}
