{% extends 'base.html.twig' %}

{% block title %} Boutique{% endblock %}

{% block stylesheets %}
    {{ parent() }}  {# Charge app.css #}
    <link rel="stylesheet" href="{{ asset('assets/styles/product.css') }}">
{% endblock %}

{% block body %}

<h1>Liste des produits</h1>

<div class="card-container">


 {# --- CARD FILTRE (1ère carte) --- #}
<div class="card filter-card"> 
   <h2>Fourchette de prix :</h2>
 <form method="get" action="{{ path('products') }}">
    <select name="range" onchange="this.form.submit()">
        <option value=""> Tous les produits </option>

        <option value="1" {% if currentRange == '1' %}selected{% endif %}>
            10€ - 29€
        </option>

        <option value="2" {% if currentRange == '2' %}selected{% endif %}>
            29€ - 35€
        </option>

        <option value="3" {% if currentRange == '3' %}selected{% endif %}>
            35€ - 50€
        </option>
    </select>
 </form>
</div>


{# Boucle sur les produits passés depuis le contrôleur #}
{% for product in products %}
<div class="card">
     <div class="card-items">
        <img src="/images/{{ product.image }}" alt="{{ product.name }} width="150">
        <h3> Nom : {{ product.name }}</h3>
            <p> Prix : {{ product.price }} €</p>
        <a class="btn-see" href="{{ path('product_show', {'id': product.id}) }}">Voir</a>
      </div>
     </div>
{% else %}
    <p> Aucun produit trouvé </p>
{% endfor %}
</div>
{% endblock %}
