<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        
    </head>
   
    <body>
        
        <nav>
            <a href="{{ path('home') }}">
            <img src="/images/logo.png" width="75">
            </a>
            <a href="{{ path('home') }}">Accueil</a>
            

            {% if app.user %}
    <span class="greeting">{{ "now"|date("H") < 18 ? "Bonjour" : "Bonsoir" }} {{ app.user.name }}</span>
    <a href="{{ path('products') }}">Boutique</a>

    {# Récupérer le panier depuis l'utilisateur #}
    {% set cart = app.user.getCurrentCart() %}
    {% if cart %}
        {# Nombre de produits différents dans le panier #}
        {% set count = cart.cartItems|length %}
    {% else %}
        {% set count = 0 %}
    {% endif %}

    <a href="{{ path('cart') }}">Panier ({{ count }})</a>
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('app_login') }}">Connexion</a>
    <a href="{{ path('app_register') }}">Inscription</a>
{% endif %}
        </nav>
        
         {% block body %}{% endblock %}

        <footer style="margin-top: 50px; padding: 20px; background: #eee; text-align: start;">
    
                <p><strong>Stubborn</strong></p>

                <p>Don't compromise on your look</p>

                <p>Email : contact@stubborn.com</p>

                <p>Adresse : Paris, France</p>

                <p>© {{ "now"|date("Y") }} Stubborn - Tous droits réservés</p>

        </footer>
        
        
    </body>

    
</html>
